---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Title from "@/components/Title.astro";

import { formatDate } from "@/lib/utils";

export const getStaticPaths = (async () => {
  const posts = await getCollection("realisations");

  return posts.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <Title>{post.data.title}</Title>
  <ul class="text-sm">
    <li>Catégorie : {post.data.category}</li>
    <li class="capitalize">Date : {formatDate(post.data.date)}</li>
  </ul>
  <article class="prose prose-invert mt-5 max-w-full">
    <Content />
  </article>
</BaseLayout>
