---
import { formatDate } from "@/lib/utils";

interface Props {
  href: string;
  title: string;
  details?: string;
  date: Date;
}

const props = Astro.props;
---

<div>
  <a href={props.href} class="group cursor-pointer">
    <div class="flex items-center justify-between">
      <h3 class="line-clamp-1 text-sm group-hover:underline">- {props.title}</h3>
      {props.details && <p class="text-muted-foreground text-xs italic">{props.details}</p>}
    </div>
    <p class="text-muted-foreground text-xs capitalize">
      {formatDate(props.date)}
    </p>
  </a>
</div>
