---
interface Props {
  name: string;
  link: string;
  date: string;
}

const props = Astro.props;
---

<div>
  <a href={props.link} target="_blank" class="group cursor-pointer">
    <div class="flex items-center justify-between">
      <h3 class="line-clamp-1 text-sm group-hover:underline">- {props.name}</h3>
      <p class="text-muted-foreground text-xs">
        {props.date}
      </p>
    </div>
  </a>
</div>
