---
import { Download } from "lucide-astro";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Title from "@/components/Title.astro";
---

<BaseLayout title="Rectorat">
  <Title>Tableau de synthèse</Title>
  <div>
    <a href="/content/rectorat/PHO_TableauDeSynthese.xlsx" target="_blank" class="group flex items-center gap-x-1 text-sm">
      <Download class="size-4" />
      <p class="group-hover:underline">Télécharger le tableau de synthèse</p>
    </a>
  </div>

  <Title>Stage de première année</Title>
  <div>
    <iframe src="/content/rectorat/PHO_AttestationStage1.pdf" class="h-[500px] w-full rounded-lg"></iframe>
  </div>

  <Title>Stage de deuxième année</Title>
  <div>
    <iframe src="/content/rectorat/PHO_AttestationStage2.pdf" class="h-[500px] w-full rounded-lg"></iframe>
  </div>
</BaseLayout>
