---
import { File } from "lucide-astro";

import Title from "@/components/Title.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Rectorat">
  <Title>Tableau de synthèse</Title>
  <a href="/PHO_TableauDeSynthese.xlsx" target="_blank" class="flex items-center gap-x-1 group">
    <File />
    <p class="group-hover:underline">Télécharger le tableau de synthèse</p>
  </a>

  <Title>Stage de première année</Title>
  <div class="space-y-2"></div>

  <Title>Stage de deuxième année</Title>
  <div class="space-y-2"></div>
</BaseLayout>
