---
import { formatDate } from "@/lib/utils";

interface Props {
  id: string;
  title: string;
  date: Date;
}

const props = Astro.props;
---

<div class="max-w-1/2">
  <a href={`/veille/${props.id}`}>
    <div class="hover:rounded-lg hover:bg-muted/50 transition-colors p-3 text-muted-foreground">
      <h2 class="line-clamp-1">{props.title}</h2>
      <p class="capitalize text-xs">{formatDate(props.date)}</p>
    </div>
  </a>
  <div class="border-b my-2"></div>
</div>
