---
import { formatDate } from "@/lib/utils";

interface Props {
  title?: string;
  startDate?: Date;
  endDate?: Date;
  content: string[] | string;
}

const props = Astro.props;
---

<div>
  {props.title && <h3 class="font-medium">{props.title}</h3>}
  {
    props.startDate && (
      <p class="capitalize text-xs">
        {formatDate(props.startDate)} - {props.endDate ? formatDate(props.endDate) : "Présent"}
      </p>
    )
  }
  <ul>
    {typeof props.content === "string" ? <p class="text-sm">{props.content}</p> : props.content.map((item) => <li>{item}</li>)}
  </ul>
</div>
